@{
  Layout="_Layout";
}

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Machines", "Index")</li>
  </ul>
</nav>

@model Factory.Models.Machine

<h2>Add Engineer</h2>

<h4>Add an Engineer to machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save"/>
}