@{
  Layout="_Layout";
}

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("All Machines", "Index")</li>
  </ul>
</nav>

@model Factory.Models.Machine

<h2>Add Machine</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Add new machine" class="btn btn-default"/>
}

