@{
  Layout="_Layout";
}

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Machines", "Index")</li>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
  </ul>
</nav>

@model Factory.Models.Machine

<h2>Dissasemble Machine?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

