@{
  Layout="_Layout";
}

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Engineers", "Index")</li>
  </ul>
</nav>

@model Factory.Models.Engineer

<h1>Add Engineer</h1>

<p>Error message for empty form fields here</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  <input type="submit" value="Add new Engineer" class="btn btn-default"/>
}


