@{
  Layout="_Layout";
}

@model Factory.Models.Engineer

<h2>Fire Engineer?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Engineers", "Index")</p>
<p>@Html.ActionLink("Machines", "Index", "Machines")</p>
