@{
  Layout="_Layout";
}

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
    <li>@Html.ActionLink("Add Engineer", "Create")</li>
  <ul>
</nav>

@using Factory.Models;

<h1>Engineers</h1>

<div class="engineer_list">
  @if (@Model.Count == 0)
  {
    <h3>No Engineers have been hired yet</h3>
  }
  else
  {
    <ul>
      @foreach (Engineer engineer in Model)
      {
        <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
      }
    </ul>
  }
</div>